body {
	background-color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content {
	background-color: #fff;
	height: 100%;
	width: 960px;
}
nav {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border:none ;
}
nav > button {
	width: 175px;
	height: 60px;
	background-color: rgb(20, 62, 116);
	color: #fff;
	font-size: 1.5em;
	border:none;
}
nav > button:hover {
	cursor: pointer;
	background-color: rgba(35, 116, 225, 80%);
}
.title {
	height:90px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
 .free {
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	flex:1;
	padding: 60px;
	margin-left:20px;
}

.tag2 {
	position: absolute;
	height: 100px;
	width: 600px;
	background-color: rgb(5, 48, 104);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 210px;
	margin-top: 340px;
	font-family: "Times New Roman", Times, serif;
	font-size: 3.0em;
}
img {
	height: 500px;
	width: 900px;
	position: relative;
	margin-left: 30px;
}
.tag1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.4em;
	border-bottom: 1px dashed white;
	padding: 10px;
	
}
.tag2 {
	position:absolute;
	height: 100px;
	width: 550px;
	background-color: rgb(35, 116, 225);
	
	color: #fff;
	display: flex;
	align-items:flex-start;
	justify-content:flex-end;
	margin-left: 410px;
	margin-top: 500px;
	font-family: "Times New Roman", Times, serif;
	font-size: 3.0em;
}
.tag  {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	padding: 10px;
	margin-left: 20px;
	margin-top: 15px;
	border: 5px;
	border-style: double;
	background-color:rgb(5, 48, 104);
	width: 300px;
	height:500 ;
}
.articles {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px dashed #ccc;
	margin-left: 20px;
	margin-right: 20px;
}
.articles > div {
	background-color: #ddd;
	height: 330px;
	width: 270px;
	margin-bottom: 25px;
}
.t1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	border-bottom: 1px solid #bbb;
	text-align: center;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 550;
}
.t2 {
	height: 75px;
	width: 220px;
	background-color: #444;
	color: white;
	margin-left: 20px;
	margin-top: 15px;
	border: 5px;
	border-style: double;
	font-size: 1.6em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.t3 {
	padding: 25px;
}
.t4 {
	color: rgb(5, 48, 104);
	font-weight: 600;
	float: right;
	margin-right: 20px;
}
#text {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.poza {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	width: 550px;
	margin-top: 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.poza160 {
	height: 160px;
	width: 600px;
	background-color: #444;
	color: white;
	border: 5px;
	border-style: double;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info {
	width: 350px;
}
.t5 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding: 5px;
	margin-left: 15px;

	font-weight: 550;
}
.t6 {
	padding: 25px;
}
.t7 {
	color: rgb(5, 48, 104);
	font-weight: 600;
	float: right;
	margin-right: 20px;
}

.links {
	display: flex;
	justify-content: space-evenly;
	align-items:flex-start;
	flex-direction: column;
	height: 200px;
	width: 300px;
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: #eee;
}
.t8 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	border-bottom: 2px dashed #ccc;
	color: #ccc;
	padding: 5px;
	font-weight: 550;
	width: 290px;
}
.categories #first {
	color:rgb(5, 48, 104);
	border-bottom: 1px solid #ccc;
	width: 300px;
}
.secondaryNav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10px;
}
.secondaryNav div {
	height: 100px;
	width: 160px;
	background-color: #444;
	color: white;
	border: 5px;
	border-style: double;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.final {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(5, 48, 104);
	color: White;
	margin-left: 20px;
	margin-right: 20px;
	height: 50px;
	margin-top: 20px;
}
.final div {
	font-size: 0.9em;
	padding: 10px;
}
